<%- include('partials/header') -%>

    <script type="text/javascript">
        var second = 15;
        
        function myTimer() {
            const timer = document.getElementById("timer");
        
            if (second > 0) {
                second--;
            } else if (second == 0) {
                window.location.href = "/lose"; // Redirect to lose page
            }

            timer.innerText = `${second}`;

        }

        window.onload = function() {

            setInterval(myTimer, 1000);
        };
    </script>
</head>
<body>
    <h5 id="score">€ <%= totalPoints %></h5>
    <h5 id="timer">15</h5>
    <div class="heading" style="padding-top: 10%;">
    <%try { %>
        <center>
            <h2 id="qNo">Question <%= num %></h2>
            <h1 id="quest"><%= randomQuestion.question %></h1>

        </center>
    </div>
    <center>
        <div class="container">
            <a id="ans1" class="btn" onclick="checkAns(0)"><%= options[0] %></a>

            <a id="ans2" class="btn" onclick="checkAns(1)"><%= options[1] %></a>

            <a id="ans3" class="btn" onclick="checkAns(2)"><%= options[2] %></a>
        </div>
        
    <% } catch(err) { %>
        <p class="">Error: question couldn't be printed</p>
    <% } %>
    <script>
        const randomQuestion = <%- JSON.stringify(randomQuestion) %>;

        function checkAns(ans) {
            console.log(`User selected: ${ans}, Correct Answer: ${randomQuestion.correctAns}`);

            // Compare the user’s selection with the correct answer
            if (ans == randomQuestion.correctAns) {
                // Correct!
                window.location.href = "/game?correct=true"; // or "/game/next" or wherever your next route is
            } else {
                // Wrong answer
                window.location.href = "/lose";
            }
        }

    </script>

    </center>
    <%- include('partials/footer') -%>

</body>
</html>